@tailwind base;
@tailwind components;
@tailwind utilities;

/* Opcional: Para que los cambios de color de fondo y efectos sean aún más suaves */
html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  background-color: #f8fafc; /* slate-50 */
}